* { box-sizing: border-box; }

body {
    background-color:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
}



.container {
    align-items:center;
    justify-content:center;

}

h1 {
    position:absolute;
    font-size:120%;
    right:35%;
    top:19.5%;

}

.a-button hover {
    box-shadow: 0 0 0 rgba(0,0,0,0.2), 0 0 0;
    margin: 4px 58px;
}

.nswitch {
   
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;   
    width: 98%;
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
}

.overlay {
    position:absolute;
    width: 95%;
    top:6.1%;
    right:3.5%;
}

/* USERS */

.user1 {
    position:absolute;
    top:20%;
    height:46px;
    left:24.6%;
}

.user2 {
    position:absolute;
    top:20%;
    height:46px;
    left:27.6%;
}

.user-highlight {

    background: transparent;
    
    transition:all 0.1s;
    &:hover {
        border-radius: 50%;
    position: fixed;
    box-shadow: 0px 0px 0px 3px rgb(149, 248, 255), 0px 0px 50px inset;
        filter: brightness(110%);
    }
}
/* 5 BUTTS */
.aboutbutt {
    position:absolute;
    top:60.52%;
    height:70px;
    left:38%;}.questionbutt {
    position:absolute;
    top:60.52%;
    height:70px;
    left:42.53%;}.randobutt {
    position:absolute;
    top:60.52%;
    height:70px;
    left:47.1%;}.settingbutt {
    position:absolute;
    top:60.52%;
    height:70px;
    left:51.69%;}.powerbutt {
    position:absolute;
    top:60.52%;
    height:70px;
    left:56.2%;}
.bottom-highlight {
    background: transparent;
    transition:all 0.1s;
    &:hover {
        border-radius: 50%;
    position: fixed;
    box-shadow: 0px 0px 0px 3px rgb(237, 149, 255), 0px 0px 50px inset;
        filter: brightness(130%);
    }
}
/* CONSOLE BUTTS */
.xbutt {
    position:absolute;
    height:60px;
    top:17.8%;
    right:9.4%;}.abutt {
    position:absolute;
    height:60px;
    top:24%;
    right:6.2%;}.bbutt {
    position:absolute;
    height:60px;
    top:30%;
    right:9.4%;}.ybutt {
    position:absolute;
    height:60px;
    top:24%;
    right:12.5%;
}.butters:hover {
box-shadow: 0 0 0 rgba(0,0,0,0.2), 0 0 0;
margin: 2px -2px;}.upp {
    position:absolute;
    height:60px;
    top:41.3%;
    left:6.8%;}.downn {
    position:absolute;
    height:60px;
    top:53.7%;
    left:6.8%;}.leftt {
    position:absolute;
    height:60px;
    top:47.68%;
    left:3.7%;}.rightt {
    position:absolute;
    height:60px;
    top:47.68%;
    left:10%;
}
.butterss:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0.2), 0 0 0;
    margin: 2px 2px;
    }.minusbutt {
    position:absolute;
    width:42px;
    top:14.5%;
    left:11.38%;
}.plusbutt {
    position:absolute;
    width:42px;
    top:13%;
    right:13.9%;
}.capturebutt {
    position:absolute;
    height:48px;
    top:63.5%;
    left:9.55%;
}.homebutt {
    position:absolute;
    height:59px;
    top:62.5%;
    right:11.46%;
}
.pressbutts {

&:hover {
    border: 2px solid rgba(66, 68, 68, 0);
    }
}
/* CAROUSEL */
.caroucontainer {
    display:block;
    width:51%;
    position:absolute;
    top:32%;
    left:23%;

}
.carousel {
    background: #9b4c4c00;
    
  }
  
  .carousel-cell {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
  
  .carousel-cell.is-selected {
    background: rgb(149, 248, 255);
  }
  
  .app-highlight {

    transition: all 0.25s;
    &:hover {
        border: 4px solid rgb(126, 255, 233);
        filter: brightness(110%);
        
    }
}
  
  /*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled{
    position:relative
}
.flickity-enabled:focus{
    outline:0
}
.flickity-viewport{
    overflow:hidden;
    position:relative;
    height:100%;
}
.flickity-slider{
    position:absolute;width:30%;height:100%}
.flickity-enabled.is-draggable{
        -webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.flickity-enabled.is-draggable .flickity-viewport{
    cursor:move;cursor:-webkit-grab;cursor:grab}
.flickity-enabled.is-draggable .flickity-viewport
.is-pointer-down{
    cursor:-webkit-grabbing;cursor:grabbing}
.flickity-button{
    position:absolute;background:hsla(0,0%,100%,.75);border:none;color:#333}
.flickity-button:hover{
    background:#fff;cursor:pointer}
.flickity-button:focus{outline:0;box-shadow:0 0 0 5px #19f}
.flickity-button:active{opacity:.6}
.flickity-button:disabled{opacity:.3;cursor:auto;pointer-events:none}
.flickity-button-icon{fill:currentColor}
.flickity-prev-next-button{top:50%;width:44px;height:44px;border-radius:50%;transform:translateY(-50%)}
.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}
.flickity-prev-next-button .flickity-button-icon{position:absolute;left:20%;top:20%;width:60%;height:60%}
.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}
.flickity-rtl .flickity-page-dots{direction:rtl}
.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:.25;cursor:pointer}
.flickity-page-dots .dot.is-selected{opacity:1}

